*{margin: 0px;
padding: 0px;
box-sizing: border-box;}

body{
    height: 100vh;
    width: 100%;
}

.opcoesdemenumobile {
   
    background: linear-gradient(to right, #7C3AED, #2563EB);
    display: none;
    flex-direction: column;
    width: 120px;
    height: auto;
    gap: 10px;
    padding: 10px;
    align-items: start;
    border-radius: 10px;
}

.opcoesdemenumobile button{
    background-color: transparent;
    border: none;
  color: white;
  font-size: 1em;
}

.opcoesdemenumobile a{
    text-decoration: none;
    color: white;
     font-size: 1em;
}